/impl
/fpga_project.gprj.user
# /rtl/*/doc/
temp/

work/
*.ini
# Specifically ignore common simulation files
*.wlf
transcript
*.vcd
modelsim.ini
vsim_stacktrace.vstf

# ModelSim/QuestaSim temporary files
**/gw5a/_info
**/gw5a/_lib.qdb
**/gw5a/_lib*.qpg
**/gw5a/_lib*.qtl
**/gw5a/*.qdb
**/gw5a/*.qtl
**/_info
**/_lib*.qdb

rtl/cdc_int.v
rtl/cdc_spi.v
# Windows reserved names
nul
NUL

.idea/

*_tmp.v
*.html
*.cr.mti
*.mpf